name: build
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**.yml'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '24', '25' ]
        architecture: [ 'x64' ]
    name: Build with JDK ${{ matrix.java }} on ${{ matrix.architecture }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          architecture: ${{ matrix.architecture }}
          cache: 'maven'

      - name: Build with Maven
        run: mvn package

      - name: Verify class file versions
        uses: pivovarit/verify-jar-action@v1
        with:
          directory: 'target'
          bytecode-version: '68'

  verify-javadoc:
    runs-on: ubuntu-latest
    name: Validate JavaDocs
    steps:
      - uses: actions/checkout@v6
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '24'
          architecture: 'x64'
          cache: 'maven'

      - name: Validate JavaDocs
        run: mvn -Pdoclint package -DskipTests=true
